<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Заголовок страницы</title>
    </head>
    <body>
        <header>
            <center>
            {% if title %}
                <h1>{{title}}</h1>
            {% else %}
                <h1>Работа с шаблонами</h1>
            {% endif %}
            {% for item in items %}
                <a href="{{ item.url }}">{{ item.title }}</a> <br>
            {% endfor %}
            </center>
        </header>
        <main>
            <article>
                <section>
                    <h2>Первая секция</h2>
                    <p>Описание</p>
                </section>
                <section>
                    <h2>Вторая секция</h2>
                    <p>Описание</p>
                </section>
            </article>
        </main>
        <footer>
        <p>Автор</p>
        </footer>
    </body>
</html>
