<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <link rel="shortcut icon" href="../public/favicon.ico" />
</head>

<body>
    
    <br>
    <div id="inline">
        
        <form action="/new_feed" method="get"> <!-- вызов события /new_feed -->
            <button class="send">Новый отзыв</button>
        </form>
        
        <br>
        <h4>Название таблицы</h4>
        
        <table>
            <tr>
                <th>Имя</th>
                <th>Отзыв</th>
            </tr>
            
            <tr>
                <td class="td" width="25%">Имя</td>
                <td class="td">Отзыв</td>
            </tr>
            <tr>
                <td class="td">Имя</td>
                <td class="td">Отзыв</td>
            </tr>
            <tr>
                <td class="td">Имя</td>
                <td class="td">Отзыв</td>
            </tr>
            
        </table>
        
        <br>
    </div>
    
</body>
</html>
